header {
   background: aliceblue;
   position: sticky;
   left: 0;
   top: 0;
   width: 100%;
   padding: 10px;
}

header::after {
   content: '';
   display: table;
   clear: both;
}

.logo {
   float: left;
   padding: 10px 20px;
}

nav {
   float: right;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

nav li {
   display: inline-block;
   margin-left: 20px;
   margin-right: 20px;
   padding: 20px;
}

nav a {
   color: #333333;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 15px;
}

nav a:hover{
   color: #E77340;
}

.fixedNav {
   position: fixed;
   box-shadow: #333333;
}

body {
   margin: 0;
   background-color: #c7dadf;
   font-family: 'Montserrat';
}

h1 {
   color: #052049;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   height: 10px;
   padding: 20px;
   font-weight: bolder;
}

h3 {
   position: relative;
   color: #E77340;
   text-align: left;
   margin-left: auto;
   margin-right: auto;
   font-weight: lighter;
   font-style: italic;
   font-size: small;
}

h4 {
   position: relative;
   color: #E77340;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-weight: lighter;
   font-style: italic;
   font-size: small;
}

.timeline{
   margin: 0 auto;
   max-width: 1200px;
   padding: 50px;
   display: grid;
   grid-template-columns: 1fr 3px 1fr;
   justify-content: center;
   font-family: 'Montserrat';
   color: black;
}


.timeline__component{
   margin: 20px 20px 20px 20px;
}

.timeline__component--bg{
   padding: 1.5em;
   background: rgba(255, 255, 255, 0.2);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.timeline__date{
   text-align: left;
}


.timeline__middle{
   position: relative;
   background: white;
}

.timeline__point{
   position: absolute;
   top: 40%;
   right: 50%;
   transform: translateX(50%);
   width: 15px;
   height: 15px;
   background: white;
   border-radius: 50%;
}

.timeline__title{
   margin: 0;
   font-size: 1.15em;
   font-weight: bold;
}

.timeline__paragraph{
   line-height: 1.5;
}
